:root {
	--clr-text: hsl(0, 0%, 3%);
	--clr-surface: hsl(28, 94%, 96%);
	--clr-primary: hsl(215, 75%, 56%);
	--clr-secondary: hsl(31, 80%, 89%);
	--clr-accent: hsl(169, 85%, 43%);

	--ff-base: "IBM Plex Sans", sans-serif;
	--ff-accent: "IBM Plex Sans Condensed", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-text: hsl(28, 94%, 96%);
		--clr-surface: hsl(0, 0%, 3%);
		--clr-primary: hsl(215, 75%, 56%);
		--clr-secondary: hsl(31, 80%, 16%);
		--clr-accent: hsl(169, 85%, 43%);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	color-scheme: light dark;
}

img {
	max-width: 100%;
	display: block;
}
